/* .news-story {
    border: 1px solid lightcoral;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
} */
img {
    height: 100px;
    width: auto;
    border-radius: 5px;
    margin: 10px;
    /* padding: 20px; */
}

